textarea {
    min-height: 400px;
}

.email{
    width: 100%;
    text-align: left;
    border-color:black;
}

.wrapper{
    width: 100%;
}

.column_1{
    float: left;
    text-align: left;
}

.column_2{
    float: right;
    text-align: right;
}
